.accordion {
    margin: 20px;
    width: 100%;
  }
  
  app-employee-navbar {
    margin-right: 5px;
    margin-top: 20px;
    left: 0rem;
    width: 12vw;
    background: #f4f7fa;
    /* box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.5); */
    /* border-top: 1px solid rgb(255, 0, 0); */
  }
  .personal-container {
    display: flex;
  }
  
  .accordion-item {
    margin-bottom: 10px;
  }
  
  .accordion-butto {
    font-weight: bold;
    font-size: 16px;
  }
  /* .values{
  } */
  h3 {
    margin-left: 20px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    position: relative;
  }
  h3 i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .accordion-header {
    background-color: lightblue;
  }
  
  .col-auto {
    margin-right: 20px;
  }
  /* .values-header {
    text-align: center;
  }
  .values {
    text-align: center;
  } */
  