/* app-display{
    margin-right: 5px;
    margin-top: 20px;
    left: 0rem;
    width: 12vw;
    background: #f4f7fa;
} */
/* .personal-container{
    display: flex;
} */

.example-stepper{
    margin: 0px 10px;
    border: solid 1px black;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.5);
    border-radius: 5px;
}
.error{
    color: red;
}

.notification-box {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
}
  
.notification-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}
  
.notification-fail {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}
/* ng-multiselect-dropdown {
    border: solid 1px rebeccapurple;
    width: 70%;
} */

mat-form-field{
    width: 250px;
}
@media screen and (max-width: 407px){
    mat-form-field{
        width: 200px;
    }
}