<!-- <button mat-raised-button (click)="isOptional = !isOptional">
    {{!isOptional ? 'Enable optional steps' : 'Disable optional steps'}}
</button> -->

<!-- @switch (stepperOrientation | async) {
@case ('horizontal') {
<div>Make your screen smaller to see a vertical stepper</div>
}
@case ('vertical') {
<div>Make your screen larger to see a horizontal stepper</div>
}
} -->

<mat-stepper class="example-stepper">
    <mat-step [stepControl]="updateForm" label="PROFILE">
        <form [formGroup]="updateForm">
            <div class="row">
                <div class="col">
                    <mat-form-field>
                        <mat-label>First Name</mat-label>
                        <input matInput placeholder="First name" formControlName="FirstName" required>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field>
                        <mat-label>Middle Name</mat-label>
                        <input matInput placeholder="Middle name" formControlName="MiddleName" required>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field>
                        <mat-label>Last Name</mat-label>
                        <input matInput placeholder="Last name" formControlName="LastName" required>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field>
                        <mat-label>Employee Code</mat-label>
                        <input matInput placeholder="Employee code" formControlName="EmployeeCode" required>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field>
                        <mat-label>User Id</mat-label>
                        <input matInput placeholder="User id" formControlName="UserId" required>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field formGroupName="Email">
                        <mat-label>Company Email</mat-label>
                        <input matInput placeholder="Company email" formControlName="CompanyMail" required>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="dateSize">
                        <mat-label>Date of Joining</mat-label>
                        <input matInput [matDatepicker]="join" formControlName="doj" placeholder="Date of join">
                        <mat-datepicker-toggle matSuffix [for]="join"></mat-datepicker-toggle>
                        <mat-datepicker #join></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="dateSize">
                        <mat-label>Date of Conformation</mat-label>
                        <input matInput [matDatepicker]="conform" formControlName="doc" placeholder="Date of conformation ">
                        <mat-datepicker-toggle matSuffix [for]="conform"></mat-datepicker-toggle>
                        <mat-datepicker #conform></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field formGroupName="Department">
                        <mat-label>Department Id</mat-label>
                        <input matInput placeholder="Department id" formControlName="DepartmentId" required>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field formGroupName="Department">
                        <mat-label>Department Name</mat-label>
                        <input matInput placeholder="Department name" formControlName="DepartmentName" required>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field>
                        <mat-label>Manager Id</mat-label>
                        <input matInput placeholder="Manager id" formControlName="ManagerId" required>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field>
                        <mat-label>Designation</mat-label>
                        <input matInput placeholder="Designation" formControlName="Designation" required>
                    </mat-form-field>
                </div>
            </div>
            <div>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="updateForm" label="PERSONAL">
        <form [formGroup]="updateForm">
            <div class="row">
                <div class="col">
                    <mat-label>Gender</mat-label>
                    <mat-radio-group aria-label="Gender" formControlName="Gender">
                        <mat-radio-button value="male">Male</mat-radio-button>
                        <mat-radio-button value="female">Female</mat-radio-button>
                        <mat-radio-button value="other">Other</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="col">
                    <!-- <mat-form-field> -->
                        <mat-label>Photo</mat-label>
                        <input type="file" placeholder="Upload photo" formControlName="Photo" required>
                    <!-- </mat-form-field> -->
                </div>
                <div class="col">
                    <mat-form-field formGroupName="Email">
                        <mat-label>Personal Email</mat-label>
                        <input matInput placeholder="Personal email" formControlName="PersonalMail" required>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field formGroupName="Contact">
                        <mat-label>Primary Contact No</mat-label>
                        <input matInput placeholder="Primary contact number" formControlName="Primary" required>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field  formGroupName="Contact">
                        <mat-label>Emergency Contact No</mat-label>
                        <input matInput placeholder="Emergency contact number" formControlName="Emergency" required>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field formGroupName="Location">
                        <mat-label>Flat</mat-label>
                        <input matInput placeholder="Flat No, Society/ Building name" formControlName="Flat" required>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field formGroupName="Location">
                        <mat-label>Area</mat-label>
                        <input matInput placeholder="Area name" formControlName="Area" required>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field formGroupName="Location">
                        <mat-label>Landmark</mat-label>
                        <input matInput placeholder="Landmark" formControlName="Landmark" required>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field formGroupName="Location">
                        <mat-label>Pincode</mat-label>
                        <input matInput placeholder="Enter pincode" formControlName="Pincode" required>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field formGroupName="Location">
                        <mat-label>City</mat-label>
                        <input matInput placeholder="City name" formControlName="City" required>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field formGroupName="Location">
                        <mat-label>State</mat-label>
                        <input matInput placeholder="State name" formControlName="State" required>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field>
                        <mat-label>Date of Birth</mat-label>
                        <input matInput [matDatepicker]="birth" formControlName="dob" placeholder="Date of birth">
                        <mat-datepicker-toggle matSuffix [for]="birth"></mat-datepicker-toggle>
                        <mat-datepicker #birth></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="updateForm" label="SKILLSET">
        <form [formGroup]="updateForm">
            <div class="row">
                <div class="col">
                    <mat-form-field formGroupName="SkillSet">
                        <mat-label>Primary Skill Set</mat-label>
                        <input matInput placeholder="Primary Skills" formControlName="PrimarySkillset" required>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field formGroupName="SkillSet">
                        <mat-label>Secondary Skill Set</mat-label>
                        <input matInput placeholder="Secondary Skills" formControlName="SecondarySkillset" required>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field>
                        <mat-label>Last Name</mat-label>
                        <input matInput placeholder="Last name" formControlName="LastName" required>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field>
                        <mat-label>Employee Code</mat-label>
                        <input matInput placeholder="Employee code" formControlName="EmployeeCode" required>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field>
                        <mat-label>User Id</mat-label>
                        <input matInput placeholder="User id" formControlName="UserId" required>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field formGroupName="Email">
                        <mat-label>Company Email</mat-label>
                        <input matInput placeholder="Company email" formControlName="CompanyMail" required>
                    </mat-form-field>
                </div>
                <div class="col">
                    <!-- <mat-form-field class="dateSize"> -->
                      <!-- need to add some code  -->
                    <!-- </mat-form-field> -->
                </div>
                <div class="col">
                    <!-- <mat-form-field class="dateSize"> -->
                        <!-- need to add some code  -->
                    <!-- </mat-form-field> -->
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field formGroupName="Department">
                        <mat-label>Department Id</mat-label>
                        <input matInput placeholder="Department id" formControlName="DepartmentId" required>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field formGroupName="Department">
                        <mat-label>Department Name</mat-label>
                        <input matInput placeholder="Department name" formControlName="DepartmentName" required>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field>
                        <mat-label>Manager Id</mat-label>
                        <input matInput placeholder="Manager id" formControlName="ManagerId" required>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field>
                        <mat-label>Designation</mat-label>
                        <input matInput placeholder="Designation" formControlName="Designation" required>
                    </mat-form-field>
                </div>
            </div>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
            <button mat-button matStepperPrevious>Back</button>
        </div>
    </mat-step>
</mat-stepper>