<mat-stepper class="example-stepper">
    <mat-step [stepControl]="updateForm" label="PROFILE">
        <form [formGroup]="updateForm">
            <div class="row">
                <div class="col">
                    <mat-form-field>
                        <mat-label>First Name</mat-label>
                        <input matInput placeholder="First name" formControlName="FirstName" required>
                    </mat-form-field>
                    <div *ngIf="updateForm.controls['FirstName']?.['touched'] && updateForm.controls['FirstName']?.['errors']" class="error">
                        <p *ngIf="updateForm.controls['FirstName']?.['errors']?.['required']">
                            First name is required
                        </p>
                        <p *ngIf="updateForm.controls['FirstName']?.['errors']?.['minLength']">
                            First name should have minimum 4 letters
                        </p>
                        <p *ngIf="updateForm.controls['FirstName']?.['errors']?.['maxlength']">
                            Last name should be maximum 15 letters
                        </p>
                        <p *ngIf="updateForm.controls['FirstName']?.['errors']?.['onlyAlfa'] && !updateForm.controls['FirstName']?.['errors']?.['required']">
                            First name contains only alphabets & no whitespaces before
                            and after
                        </p>
                    </div>
                </div>
                <div class="col">
                    <mat-form-field>
                        <mat-label>Middle Name</mat-label>
                        <input matInput placeholder="Middle name" formControlName="MiddleName">
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field>
                        <mat-label>Last Name</mat-label>
                        <input matInput placeholder="Last name" formControlName="LastName" required>
                    </mat-form-field>
                    <div *ngIf="updateForm.controls['LastName']?.['touched'] && updateForm.controls['LastName']?.['errors']" class="error">
                        <p *ngIf="updateForm.controls['LastName']?.['errors']?.['required']">
                        Last name is required
                        </p>
                        <p *ngIf="updateForm.controls['LastName']?.['errors']?.['minLength']">
                        Last name should have minimum 4 letters
                        </p>
                        <p *ngIf="updateForm.controls['LastName']?.['errors']?.['maxlength']">
                        First name should be maximum 15 letters
                        </p>
                        <p
                        *ngIf="updateForm.controls['LastName']?.['errors']?.['onlyAlfa'] && !updateForm.controls['LastName']?.['errors']?.['required']">
                        Last name contains only alphabets & no whitespaces before
                        and after
                        </p>
                    </div>
                </div>
                <div class="col">
                    <mat-form-field>
                        <mat-label>Employee Code</mat-label>
                        <input matInput placeholder="Employee code" formControlName="EmployeeCode" required>
                    </mat-form-field>
                    <p *ngIf="this.updateForm.get('EmployeeCode')?.touched && this.updateForm.get('EmployeeCode')?.errors?.['required']" class="error">Employee code is required</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field>
                        <mat-label>User ID</mat-label>
                        <input matInput placeholder="User ID" formControlName="UserId" required>
                    </mat-form-field>
                    <p *ngIf="this.updateForm.get('UserId')?.touched && this.updateForm.get('UserId')?.errors?.['required']" class="error">User id is required</p>
                </div>
                <div class="col">
                    <mat-form-field formGroupName="Email">
                        <mat-label>Company Email</mat-label>
                        <input matInput placeholder="Company email" formControlName="CompanyMail" required>
                    </mat-form-field>
                    <div class="error"
                    *ngIf="this.updateForm.get('Email.CompanyMail')?.touched && this.updateForm.get('Email.CompanyMail')?.errors">
                    <p class="error"
                        *ngIf="this.updateForm.get('Email.CompanyMail')?.errors?.['required']">
                        Email is required
                    </p>
                    <p *ngIf="this.updateForm.get('Email.CompanyMail')?.errors?.['email']">Invalid email formate</p>
                </div>
                </div>
                <div class="col">
                    <mat-form-field class="dateSize">
                        <mat-label>Date of Joining</mat-label>
                        <input matInput [matDatepicker]="join" formControlName="doj" placeholder="Date of join">
                        <mat-datepicker-toggle matSuffix [for]="join"></mat-datepicker-toggle>
                        <mat-datepicker #join></mat-datepicker>
                    </mat-form-field>
                    <div class="error" *ngIf="this.updateForm.get('doj')?.touched && this.updateForm.get('doj')?.errors">
                        <p *ngIf="this.updateForm.get('doj')?.errors?.['required']">Date of joining is required</p>
                    </div>
                </div>
                <div class="col">
                    <mat-form-field class="dateSize">
                        <mat-label>Date of Confirmation</mat-label>
                        <input matInput [matDatepicker]="conform" formControlName="doc" placeholder="Date of conformation ">
                        <mat-datepicker-toggle matSuffix [for]="conform"></mat-datepicker-toggle>
                        <mat-datepicker #conform></mat-datepicker>
                    </mat-form-field>
                    <div class="error" *ngIf="this.updateForm.get('doc')?.touched && this.updateForm.get('doc')?.errors">
                        <p *ngIf="this.updateForm.get('doc')?.errors?.['required']">Date of confirmation is required</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field formGroupName="Department">
                        <mat-label>Department ID</mat-label>
                        <input matInput placeholder="Department id" formControlName="DepartmentId" required>
                    </mat-form-field>
                    <p class="error" *ngIf="this.updateForm.get('Department.DepartmentId')?.touched && this.updateForm.get('Department.DepartmentId')?.errors?.['required']">Department id is required</p>
                </div>
                <div class="col">
                    <mat-form-field formGroupName="Department">
                        <mat-label>Department Name</mat-label>
                        <input matInput placeholder="Department name" formControlName="DepartmentName" required>
                    </mat-form-field>
                    <p class="error" *ngIf="this.updateForm.get('Department.DepartmentName')?.touched && this.updateForm.get('Department.DepartmentName')?.errors?.['required']">Department name is required</p>
                </div>
                <div class="col">
                    <mat-form-field>
                        <mat-label>Manager ID</mat-label>
                        <input matInput placeholder="Manager id" formControlName="ManagerId" required>
                    </mat-form-field>
                    <p class="error" *ngIf="this.updateForm.get('ManagerId')?.touched && this.updateForm.get('ManagerId')?.errors?.['required']">Manager id is required</p>
                </div>
                <div class="col">
                    <mat-form-field>
                        <mat-label>Designation</mat-label>
                        <input matInput placeholder="Designation" formControlName="Designation" required>
                    </mat-form-field>
                    <p class="error" *ngIf="this.updateForm.get('Designation')?.touched && this.updateForm.get('Designation')?.errors?.['required']">Designation is required</p>
                </div>
            </div>
            <div>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="updateForm" label="PERSONAL">
        <form [formGroup]="updateForm">
            <div class="row">
                <div class="col">
                    <div><mat-label>Gender <span style="font-size: 15px;">*</span></mat-label></div>
                    <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          formControlName="Gender"
                          id="inlineRadio1"
                          value="Male"
                        />
                        <label class="form-check-label" for="inlineRadio1"
                          >Male</label
                        >
                      </div>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          formControlName="Gender"
                          id="inlineRadio2"
                          value="Female"
                        />
                        <label class="form-check-label" for="inlineRadio2"
                          >Female</label
                        >
                      </div>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          formControlName="Gender"
                          id="inlineRadio3"
                          value="Other"
                        />
                        <label class="form-check-label" for="inlineRadio3"
                          >Other</label
                        >
                      </div>
                      <p
                        class="error"
                        *ngIf="this.updateForm.get('Gender')?.touched && this.updateForm.get('Gender')?.errors?.['required']"
                      >
                        Gender is required
                      </p>
                    </div>
                <div class="col">
                    <!-- <mat-form-field> -->
                        <mat-label>Photo <span style="font-size: 15px;">*</span></mat-label>
                        <input type="file" (change)="onFileChange($event)" placeholder="Upload photo" required>
                        <p><small>(*note: Photo size should be less than 100kb)</small></p>
                        <p *ngIf="fileSizeError" class="error">File size should be less than 100KB</p>
                    <!-- </mat-form-field> -->
                </div>
                <div class="col">
                    <mat-form-field formGroupName="Email">
                        <mat-label>Personal Email</mat-label>
                        <input matInput placeholder="Personal email" formControlName="PersonalMail" required>
                    </mat-form-field>
                    <div class="error"
                    *ngIf="this.updateForm.get('Email.PersonalMail')?.touched && this.updateForm.get('Email.PersonalMail')?.errors">
                    <p class="error"
                    *ngIf="this.updateForm.get('Email.PersonalMail')?.errors?.['required']">
                    Email is required
                    </p>
                    <p *ngIf="this.updateForm.get('Email.PersonalMail')?.errors?.['email']">Invalid email formate</p>
                </div>
                </div>
                <div class="col" formGroupName="Contact">
                    <!-- <mat-form-field formGroupName="Contact"> -->
                        <mat-label>Primary Contact No <span style="font-size: 15px;">*</span></mat-label>
                        <ngx-intl-tel-input
                        id="primary"
                        formControlName="Primary"
                      ></ngx-intl-tel-input>
                      <p class="error" *ngIf="this.updateForm.get('Contact.Primary')?.touched && this.updateForm.get('Contact.Primary')?.errors?.['required']">Contact number is required</p>
                    <!-- </mat-form-field> -->
                </div>
            </div>
            <div class="row">
                <div class="col"  formGroupName="Contact">
                    <!-- <mat-form-field  formGroupName="Contact"> -->
                        <mat-label>Emergency Contact No <span style="font-size: 15px;">*</span></mat-label>
                        <ngx-intl-tel-input
                        id="emergency"
                        formControlName="Emergency"
                      ></ngx-intl-tel-input>
                      <p class="error" *ngIf="this.updateForm.get('Contact.Emergency')?.touched && this.updateForm.get('Contact.Emergency')?.errors?.['required']">Contact number is required</p>
                    <!-- </mat-form-field> -->
                </div>
                <div class="col">
                    <mat-form-field formGroupName="Location">
                        <mat-label>Flat, Society/ Building Name</mat-label>
                        <textarea matInput placeholder="Flat No, Society/ Building name" formControlName="Flat" required></textarea>
                    </mat-form-field>
                    <p class="error" *ngIf="this.updateForm.get('Location.Flat')?.touched && this.updateForm.get('Location.Flat')?.errors?.['required']">Flat number/ building name is required</p>
                </div>
                <div class="col">
                    <mat-form-field formGroupName="Location">
                        <mat-label>Area</mat-label>
                        <textarea matInput placeholder="Area name" formControlName="Area" required></textarea>
                    </mat-form-field>
                    <p class="error" *ngIf="this.updateForm.get('Location.Area')?.touched && this.updateForm.get('Location.Area')?.errors?.['required']">Area is required</p>
                </div>
                <div class="col">
                    <mat-form-field formGroupName="Location">
                        <mat-label>Landmark</mat-label>
                        <input matInput placeholder="Landmark" formControlName="Landmark" required>
                    </mat-form-field>
                    <p class="error" *ngIf="this.updateForm.get('Location.Landmark')?.touched && this.updateForm.get('Location.Landmark')?.errors?.['required']">Landmark is required</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field formGroupName="Location">
                        <mat-label>Zipcode</mat-label>
                        <input matInput placeholder="Enter pincode" formControlName="Pincode" required>
                    </mat-form-field>
                    <div *ngIf="this.updateForm.get('Location.Pincode')?.touched && this.updateForm.get('Location.Pincode')?.errors">
                        <p class="error" *ngIf="this.updateForm.get('Location.Pincode')?.errors?.['required']">Zipcode is required</p>
                        <p class="error" *ngIf="this.updateForm.get('Location.Pincode')?.errors?.['pattern']">Invalid Zipcode. (use 5 digits or 5-4 digits for US, 6 digits for India)</p>
                    </div>
                </div>
                <div class="col">
                    <mat-form-field formGroupName="Location">
                        <mat-label>City</mat-label>
                        <input matInput placeholder="City name" formControlName="City" required readonly>
                    </mat-form-field>
                    <p class="error" *ngIf="this.updateForm.get('Location.City')?.touched && this.updateForm.get('Location.City')?.errors?.['required']">City name is required</p>
                </div>
                <div class="col">
                    <mat-form-field formGroupName="Location">
                        <mat-label>State</mat-label>
                        <input matInput placeholder="State name" formControlName="State" required readonly>
                    </mat-form-field>
                    <p class="error" *ngIf="this.updateForm.get('Location.State')?.touched && this.updateForm.get('Location.State')?.errors?.['required']">State name is required</p>
                </div>
                <div class="col">
                    <mat-form-field>
                        <mat-label>Date of Birth</mat-label>
                        <input matInput [matDatepicker]="birth" formControlName="dob" placeholder="Date of birth">
                        <mat-datepicker-toggle matSuffix [for]="birth"></mat-datepicker-toggle>
                        <mat-datepicker #birth></mat-datepicker>
                    </mat-form-field>
                    <p class="error" *ngIf="this.updateForm.get('dob')?.touched && this.updateForm.get('dob')?.errors?.['required']">Date of birth is required</p>
                </div>
            </div>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="updateForm" label="SKILLSET">
        <form [formGroup]="updateForm">
            <div class="row">
                <div class="col" formGroupName="SkillSet">
                    <!-- <mat-form-field formGroupName="SkillSet"> -->
                        <mat-label>Primary Skill Set <span style="font-size: 15px;">*</span></mat-label>
                        <ng-select [multiple]="true" formControlName="PrimarySkillset" [closeOnSelect]="false">
                            <ng-option *ngFor="let skill of getSelectedPrimarySkills()" [value]="skill">{{skill}}</ng-option>
                            <ng-option *ngFor="let s of getRemainingPrimarySkills()" [value]="s">{{s}}</ng-option>
                        </ng-select>
                        <p class="error" *ngIf="this.updateForm.get('SkillSet.PrimarySkillset')?.touched && this.updateForm.get('SkillSet.PrimarySkillset')?.errors?.['required']">Primary skill set is required</p>
                    <!-- </mat-form-field> -->
                </div>
                <div class="col" formGroupName="SkillSet">
                    <!-- <mat-form-field> -->
                        <mat-label>Secondary Skill Set</mat-label>
                        <ng-select [multiple]="true" formControlName="SecondarySkillset" [closeOnSelect]="false">
                            <ng-option *ngFor="let skill of getSelectedSecondarySkills()" [value]="skill">{{skill}}</ng-option>
                            <ng-option *ngFor="let s of getRemainingSecondarySkills()" [value]="s">{{s}}</ng-option>
                        </ng-select>
                    <!-- </mat-form-field> -->
                </div>
                <div class="col">
                    <mat-form-field formGroupName="SkillSet">
                        <mat-label>Skill Level</mat-label>
                        <mat-select formControlName="SkillLevel" required>
                            <mat-option value="Basic">Basic</mat-option>
                            <mat-option value="Intermediate">Intermediate</mat-option>
                            <mat-option value="Advance">Advance</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <p class="error" *ngIf="this.updateForm.get('SkillSet.SkillLevel')?.touched && this.updateForm.get('SkillSet.SkillLevel')?.errors?.['required']">Skill level is required</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field formGroupName="SkillSet">
                        <mat-label>Experience</mat-label>
                        <input matInput placeholder="Experience eg: 2 years" formControlName="Experience" required>
                    </mat-form-field>
                    <p><small>*note: Experience is in between 0.00 years to 30 years</small></p>
                    <div *ngIf="updateForm.get('SkillSet.Experience')?.touched && updateForm.get('SkillSet.Experience')?.errors" class="error">
                        <p *ngIf="updateForm.get('SkillSet.Experience')?.errors?.['required']">Experience is required</p>
                        <p *ngIf="updateForm.get('SkillSet.Experience')?.errors?.['invalidExperience'] && !updateForm.get('SkillSet.Experience')?.errors?.['required']">
                          Invalid Experience. Eg: 5.4 years
                        </p>
                    </div>
                </div>
                <div class="col" formGroupName="SkillSet">
                    <mat-form-field formGroupName="Certification">
                        <mat-label>Certification Name</mat-label>
                        <input matInput placeholder="Certification name" formControlName="CertificationName" required>
                    </mat-form-field>
                    <p class="error" *ngIf="this.updateForm.get('SkillSet.Certification.CertificationName')?.touched && this.updateForm.get('SkillSet.Certification.CertificationName')?.errors?.['required']"> Certification name is required</p>
                </div>
                <div class="col" formGroupName="SkillSet">
                    <mat-form-field formGroupName="Certification">
                        <mat-label>Certification Date</mat-label>
                        <input matInput [matDatepicker]="certification" formControlName="CertificationDate" placeholder="Certification date">
                        <mat-datepicker-toggle matSuffix [for]="certification"></mat-datepicker-toggle>
                        <mat-datepicker #certification></mat-datepicker>
                    </mat-form-field>
                    <p class="error" *ngIf="this.updateForm.get('SkillSet.Certification.CertificationDate')?.touched && this.updateForm.get('SkillSet.Certification.CertificationDate')?.errors?.['required']"> Certification date is required</p>
                </div>
            </div>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button class="btn btn-primary" (click)="updateEmployee()" [disabled]="updateForm.invalid">update</button>
        </div>
    </mat-step>
</mat-stepper>