.example-stepper {
    margin-top: 8px;
  }
  
.mat-mdc-form-field {
    margin-top: 16px;
}
/* .dateSize{
    width: 76%;
} */
.error{
    color: red;
}
#bnButton {
    margin-right: 10px; 
} 
.custom-secondary {
    background-color: #007bff !important;
    border-color: #007bff !important;
    color: white !important;
}

.custom-secondary:hover {
    background-color: #0069d9 !important;
    border-color: #0062cc !important;
}