<!-- <div class="accordion" #accordion>
  <div class="accordion-item">
    <h2 class="accordion-header skyblue" id="panelsStayOpen-headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" (click)="toggleAccordion('panelsStayOpen-collapseOne')" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
        PROFILE
      </button>
    </h2>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
      <div class="accordion-body">
        <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header skyblue" id="panelsStayOpen-headingTwo">
      <button class="accordion-button collapsed" type="button" (click)="toggleAccordion('panelsStayOpen-collapseTwo')" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
        PERSONAL
      </button>
    </h2>
    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
      <div class="accordion-body">
        <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header skyblue" id="panelsStayOpen-headingThree">
      <button class="accordion-button collapsed" type="button" (click)="toggleAccordion('panelsStayOpen-collapseThree')" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
        ADDRESS
      </button>
    </h2>
    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
      <div class="accordion-body">
        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
</div> -->


<div class="card mt-3">
  <div class="card-header text-white bg-secondary">
    
    {{headerText}}
    <i class="fa-solid fa-angle-down"></i>
  </div>
  <div class="card-body">
    akjbhdg
  </div>
</div>

<i class="fa-solid fa-angle-up"></i>

