.sidenav {
  background: #68d0f0;
  transition: all 0.5s ease;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 5rem;
  height: 100vh;
  box-shadow: 0.063rem 0 1.25rem 0 #8690a3;
}

.logo-container {
  display: flex;
  align-items: center;
  padding: 0.938rem 0.938rem 0 0.938rem;
  width: 100%;

  .logo {
    background: #fff;
    text-align: center;
    width: 3rem;
    min-width: 3rem;
    border-radius: 0.313rem;
    padding: 0.313rem;
    font-size: 24px;
    font-weight: 900;
    cursor: pointer;
    border: none;

    .InnoLogo {
      height: 40px;
      width: 35px;
    }
  }

  .logo-text {
    margin-left: 1.5rem;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
  }

  .btn-close {
    margin-left: auto;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: transparent;
    border: none;

    .fa-xmark {
      color: #fff;
      font-size: 24px;
    }
  }
}

.side-profile {
  /* border: solid 1px black; */
  text-align: center;
  margin-top: 5px;
  > img {
    height: 40px;
    width: 40px;
    color: #fff;
    border-radius: 100%;
    object-fit: cover;
  }
  > h2 {
    margin: 0px;
    font-size: 1rem;
    color: #fff;
    line-height: 1.5rem;
  }
  > a {
    margin: 0px;
    font-size: 0.8rem;
  }
}


.sidenav-nav {
  /* border: solid 1px black; */
  list-style: none;
  padding: 0.938rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: calc(100% - 3.65rem); */
  cursor: pointer;

  .sidenav-nav-item {
    width: 100%;
    margin-bottom: 0.625rem;

    .sidenav-nav-link {
      display: flex;
      align-items: center;
      height: 2rem;
      color: #f3f3f3;
      text-decoration: none;
      border-radius: 0.625rem;
      transition: all 0.3s ease;

      .sidenav-link-icon {
        font-size: 22px;
        width: 2rem;
        min-width: 2rem;
        margin: 0 0.5rem;
        text-align: center;
      }

      .sidenav-link-text {
        margin-left: 1.5rem;
      }
    }
  }

  .sidenav-nav-item:hover {
    .sidenav-nav-link {
      background-color: #fff;
      color: #000;
    }
  }
}

.active {
  background-color: #fff;

  .sidenav-link-icon,
  .sidenav-link-text {
    color: #000;
  }
}

.sidenav-logout {
  /* border: solid 1px black; */
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  /* width: 100%; */
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  background-color: #0056b3;
  color: white;
  cursor: pointer;
  > button {
    font-size: 15px;
    border: none;
    background-color: #0056b3;
    color: white;
    cursor: pointer;
  }
}


.sidenav-collapsed {
  width: 16.5625rem;
  .side-profile{
    >img{
      height: 80px;
    width: 80px;
    }
  }
}