pagination-controls{
  display: flex;
  justify-content: center;
  float: right;
}

.tableSize{
  display: flex;
  justify-content: end;
}

.options{
  float: right;
  display: inline-flex;
}

select{
  width: 40px;
  height: 20px;
}

option{
  text-align: center;
}

h2{
color: black;
text-align: center;
font-size: 2.5rem;
text-shadow: 2px;
}

th{
font-size: 1rem;
}

.message{
text-align: center;
font-size: 1rem;
color: red;
}

.search-and-add {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.new-asset {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.new-asset:hover {
  background-color: #45a049;
}

.table-head-container{
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
}

tbody {
  >tr{
    >td{
      text-align: center;
      >i{
        margin: 5px;
      }
    }
  }
}


@media screen and (max-width: 431px) {
h2{
  font-size: 1.6rem;
}
pagination-controls{
  width: 100px;
}
}

