<div class="container mt-5">
  <h2><strong>Asset Management</strong></h2>

  <div class="search-and-add">
    <button class="btn btn-primary" (click)="addNew()">Add</button>
    <form class="d-flex" role="search">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
        name="searchText"
        [(ngModel)]="searchText"
        (keyup)="changeSearchText()"
      />
    </form>
  </div>

  <div class="container table-responsive">
    <table
      class="table table-bordered table-hover shadow-lg p-2 mb-5 bg-white rounded"
      id="restable"
    >
      <thead class="table-primary">
        <tr>
          <th scope="col">Actions</th>
          <th (click)="sort('SrNo')">
            <div class="table-head-container">
              <div>S.No</div>
              <i class="fa-solid fa-sort fa-2xs"></i>
            </div>
          </th>
          <th (click)="sort('AssetType')">
            <div class="table-head-container">
              <div>Type</div>
              <i class="fa-solid fa-sort fa-2xs"></i>
            </div>
          </th>
          <th (click)="sort('AssetModel')">
            <div class="table-head-container">
              <div>Model Name</div>
              <i class="fa-solid fa-sort fa-2xs"></i>
            </div>
          </th>
          <th (click)="sort('AssetTag')">
            <div class="table-head-container">
              <div>Tag Number</div>
              <i class="fa-solid fa-sort fa-2xs"></i>
            </div>
          </th>
          <th (click)="sort('SerialNumber')">
            <div class="table-head-container">
              <div>Serial Number</div>
              <i class="fa-solid fa-sort fa-2xs"></i>
            </div>
          </th>
          <th (click)="sort('AssignTo')">
            <div class="table-head-container">
              <div>Assign To</div>
              <i class="fa-solid fa-sort fa-2xs"></i>
            </div>
          </th>
          <th (click)="sort('Warranty')">
            <div class="table-head-container">
              <div>Warranty</div>
              <i class="fa-solid fa-sort fa-2xs"></i>
            </div>
          </th>
          <th (click)="sort('AssetCondition')">
            <div class="table-head-container">
              <div>Condition</div>
              <i class="fa-solid fa-sort fa-2xs"></i>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let asset of assetList
              | search : searchText
              | paginate
                : {
                    itemsPerPage: tableSize,
                    currentPage: page,
                    totalItems: count
                  };
            let i = index
          "
        >
          <td>
            <i
              class="fa-solid fa-pen-to-square"
              style="color: #089239"
              (click)="updateAsset(asset)"
            ></i>
            <i
              class="fa-solid fa-trash"
              style="color: #f10303"
              (click)="deleteAsset(asset)"
            ></i>
          </td>
          <td>{{ asset.SrNo }}</td>
          <td>{{ asset.AssetType }}</td>
          <td>{{ asset.AssetModel }}</td>
          <td>{{ asset.AssetTag }}</td>
          <td>{{ asset.SerialNumber }}</td>
          <td>{{ asset.AssignTo }}</td>
          <td>{{ asset.Warranty }}</td>
          <td>{{ asset.AssetCondition }}</td>
        </tr>
      </tbody>
    </table>
    <div class="message" *ngIf="(assetList | search : searchText).length === 0">
      No Record Found
    </div>
  </div>

  <div class="options" *ngIf="(assetList | search : searchText).length !== 0">
    <strong class="tableSize">
      Page size:
      <select (change)="tableSizeChange($event)">
        <option class="page-size" *ngFor="let size of tableSizes">
          {{ size }}
        </option>
      </select>
    </strong>

    <pagination-controls
      previousLabel="Prev"
      naxtLabel="Next"
      (pageChange)="tableDataChange($event)"
    ></pagination-controls>
  </div>
</div>
