<div class="conatiner">
    <div class="row">
      <div class="col-md-12">
        <table class="table">
          <thead>
            <tr>
              <th >Asset Name</th>
              <th >Asset Model</th>
              <th >Asset Type</th>
              <th >Memory</th>
              <th >Processor</th>
              <th >Operating System</th>
              <th >Warranty</th>
              <th >Asset Tag</th>
              <th >Serial Number</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of assetList">
              <td scope="row">{{user.AssetName}}</td>
              <td>{{user.AssetModel}}</td>
              <td>{{user.AssetType}}</td>
              <td>{{user.Memory}}</td>
              <td>{{user.Processor}}</td>
              <td>{{user.OperatingSystem}}</td>
              <td>{{user.Warranty}}</td>
              <td>{{user.AssetTag}}</td>
              <td>{{user.SerialNumber}}</td>
            </tr>
            <div class="message" *ngIf="assetList.length === 0">No record found!</div>
          </tbody>
        </table>
      </div>
    </div>
  </div>