<div class="header">
  <h1>Welcome to Dashboard!</h1>
  <img
    style="height: 90px; width: 90px; border-radius: 50%"
    src="/assets/img/dashboard-img.jpg"
    alt="welcome-img"
  />
</div>
<div class="containers">
  <div class="top-left">
    <h1 style="margin-left: 5px"><strong>Holiday List</strong></h1>
    <div class="holiday-container">
      <app-holiday></app-holiday>
    </div>
  </div>
  <div class="top-right">
    <h1><strong>Goals List</strong></h1>
    <div class="goal-container">
      <app-certificate></app-certificate>
    </div>
  </div>
  <div class="bottom-left">
    <h1><strong> Organisation Chart </strong></h1>
    <div class="holiday-container">
      <app-org-structure></app-org-structure>
    </div>
  </div>
  <div class="bottom-right">
    <h1><strong> Quick Access -> </strong></h1>
    <div class="holiday-container">
      <app-quick-access></app-quick-access>
    </div>
  </div>
</div>
