.containers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 10px;
  }
  
  .top-left,
  .top-right,
  .bottom-left,
  .bottom-right {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px;
    background-color: lightblue;
    transition: box-shadow 0.3s ease;
  }
  
  .top-left:hover,
  .top-right:hover,
  .bottom-left:hover,
  .bottom-right:hover {
    box-shadow: 0 4px 8px rgba(126, 242, 242, 0.797);
  }
  
  .top-left,
  .top-right {
    grid-row: 1;
  }
  
  .bottom-left,
  .bottom-right {
    grid-row: 2;
  }
  
  .top-right {
    width: 600px;
    min-width: 600px;
    max-height: 650px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #f1f1f1 #f1f1f1;
  }
  
  .bottom-right {
    max-width: 200px;
    max-height: 200px;
  }
  
  .holiday-container {
    max-height: 300px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #f1f1f1 #f1f1f1;
  }
  
  /* Media Queries for Responsiveness */
  @media screen and (max-width: 1200px) {
    .top-right {
      width: auto;
      min-width: auto;
    }
  
    .bottom-right {
      max-width: auto;
    }
  }
  
  @media screen and (max-width: 768px) {
    .containers {
      grid-template-columns: 1fr;
    }
  
    .top-left,
    .top-right,
    .bottom-left,
    .bottom-right {
      grid-row: auto;
    }
  
    .top-right {
      max-height: none;
    }
  
    .bottom-right {
      max-height: none;
    }
  }
  
  @media screen and (max-width: 480px) {
    .top-left,
    .top-right,
    .bottom-left,
    .bottom-right {
      padding: 2px;
    }
  
    .containers {
      padding: 5px;
    }
  }
  