<div class="containers">
  <div class="top-left">
    <h1><strong>Holiday List</strong></h1>
    <div class="holiday-container">
      <app-holiday></app-holiday>
    </div>
  </div>
  <div class="top-right">
    <h1><strong>Goals List</strong></h1>
    <div class="holiday-container">
      <app-certificate></app-certificate>
    </div>
  </div>
  <div class="bottom-left">
    <h1>Organisation Chart</h1>
    <div class="holiday-container">
      <app-org-structure></app-org-structure>
    </div>
  </div>
  <div class="bottom-right">
    <h1>Quick Access -></h1>
    <div class="holiday-container">
      <app-quick-access></app-quick-access>
    </div>
  </div>
</div>
