.error-message {
  color: red;
  font-size: 15px;
  margin: 0;
  position: relative;
  bottom: 15px;
}

.submit-error-message {
  color: red;
  font-size: 15px;
  margin: 5px 0;
  text-align: center;
}

.btn-submit {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #0056b3;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-submit:hover {
  background-color: #004190;
}

.login-heading {
  text-align: center;
  margin-bottom: 20px;
}

.login-heading .first-heading {
  margin: 0;
  color: #00c3ff;
  font-size: 35px;
  font-weight: bold;
}

.login-heading .second-heading {
  margin: 10px 0 0;
  color: #555;
  font-size: 18px;
}

.login-form .form-group {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  position: relative;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.has-error .form-group {
  border: 2px solid red;
}

.form-control {
  border: solid 1px red;
  /* background-color: #00c3ff; */
  width: 400px;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}

.formIcon {
  margin: 5px;
}

.content {
  padding: 3rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.content .contents {
  /* border: solid 1px black; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

img.img-fluid {
  /* border: solid 1px black; */
  max-width: 100%;
  height: auto;
  height: 100%;
  display: block;
  margin: 0 auto;
}

/* Media Queries for Responsiveness */
@media (max-width: 991.98px) {
  .content {
    padding: 3rem 0;
  }
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content .contents {
    width: 100%;
    padding: 10px;
  }
}

@media (max-width: 575.98px) {
  .login-heading .first-heading {
    font-size: 28px;
  }

  .login-heading .second-heading {
    font-size: 16px;
  }

  .form-control {
    width: 100%;
    padding: 8px;
    font-size: 14px;
  }

  .btn-submit {
    padding: 8px;
    font-size: 14px;
  }
}
