<!-- <div class="container mt-4">
  <h2>Create Asset</h2>
  <div
    *ngIf="notificationMessage"
    class="notification-box"
    [ngClass]="{
      'notification-success': creationSuccess,
      'notification-fail': !creationSuccess
    }"
  >
    <h2>{{ notificationMessage }}</h2>
  </div>
  <form [formGroup]="assetForm" (ngSubmit)="onSubmit()">
    <div class="create-form">
      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Asset Name</mat-label>
          <input matInput formControlName="assetName" />
          <mat-error *ngIf="assetForm.get('assetName')??.errors" class="error">
            <mat-error *ngIf="assetForm.get('assetName')??.errors?.['required']">
              Asset Name is required.
            </mat-error>
            <mat-error
              *ngIf="assetForm.get('assetName')??.errors?.['maxlength']"
            >
              Max length exceeded.(15)
            </mat-error>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Asset Model</mat-label>
          <input matInput formControlName="assetModel" />
          <mat-error *ngIf="assetForm.get('assetModel')??.errors" class="error">
            <mat-error
              *ngIf="assetForm.get('assetModel')??.errors?.['required']"
            >
              Asset Model is required.
            </mat-error>
            <mat-error
              *ngIf="assetForm.get('assetModel')??.errors?.['maxlength']"
            >
              Max length exceeded.(15)
            </mat-error>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Asset Type</mat-label>
          <mat-select formControlName="assetType">
            <mat-option *ngFor="let type of assetTypes" [value]="type">
              {{ type }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="
              assetForm.get('assetType')??.errors &&
              assetForm.get('assetType')??.touched
            "
            >Asset Type is required</mat-error
          >
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Memory</mat-label>
          <input matInput formControlName="memory" />
          <mat-error *ngIf="assetForm.get('memory')??.errors" class="error">
            <mat-error *ngIf="assetForm.get('memory')??.errors?.['required']">
              Memory is required.
            </mat-error>
            <mat-error *ngIf="assetForm.get('memory')??.errors?.['maxlength']">
              Max length exceeded.(15)
            </mat-error>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Processor</mat-label>
          <input matInput formControlName="processor" />
          <mat-error *ngIf="assetForm.get('processor')??.errors" class="error">
            <mat-error *ngIf="assetForm.get('processor')??.errors?.['required']">
              Processor is required.
            </mat-error>
            <mat-error
              *ngIf="assetForm.get('processor')??.errors?.['maxlength']"
            >
              Max length exceeded.(15)
            </mat-error>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Operating System</mat-label>
          <input matInput formControlName="operatingSystem" />
          <mat-error
            *ngIf="assetForm.get('operatingSystem')??.errors"
            class="error"
          >
            <mat-error
              *ngIf="assetForm.get('operatingSystem')??.errors?.['required']"
            >
              Operating System is required.
            </mat-error>
            <mat-error
              *ngIf="assetForm.get('operatingSystem')??.errors?.['maxlength']"
            >
              Max length exceeded.(15)
            </mat-error>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Warranty</mat-label>
          <mat-select formControlName="warranty">
            <mat-option *ngFor="let year of warrantyYears" [value]="year">
              {{ year }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="
              assetForm.get('warranty')??.errors &&
              assetForm.get('warranty')??.touched
            "
            >Warranty is required</mat-error
          >
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Asset Tag</mat-label>
          <input matInput formControlName="assetTag" />
          <mat-error *ngIf="assetForm.get('assetTag')??.errors" class="error">
            <mat-error *ngIf="assetForm.get('assetTag')??.errors?.['required']">
              Asset Tag is required.
            </mat-error>
            <mat-error *ngIf="assetForm.get('assetTag')??.errors?.['maxlength']">
              Max length exceeded.(15)
            </mat-error>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Serial Number</mat-label>
          <input matInput formControlName="serialNumber" />
          <mat-error
            *ngIf="assetForm.get('serialNumber')??.errors"
            class="error"
          >
            <mat-error
              *ngIf="assetForm.get('serialNumber')??.errors?.['required']"
            >
              Serial Number is required.
            </mat-error>
            <mat-error
              *ngIf="assetForm.get('serialNumber')??.errors?.['maxlength']"
            >
              Max length exceeded.(15)
            </mat-error>
          </mat-error>
        </mat-form-field>
      </div>

      <ng-multiselect-dropdown
        [placeholder]="'Assign To'"
        [data]="assignToDropdownList"
        [settings]="dropdownSettings"
        formControlName="assignTo"
      >
      </ng-multiselect-dropdown>

      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Assign date</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            formControlName="assignDate"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Description</mat-label>
          <input matInput formControlName="description" />
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Addon</mat-label>
          <input matInput formControlName="addon" />
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-slide-toggle
          formControlName="isWorkable"
          labelPosition="before"
          color="primary"
          >Workable</mat-slide-toggle
        >
      </div>
    </div>
    <div *ngIf="errorMessage" class="submit-error-message">
      {{ errorMessage }}
    </div>
    <div class="submit-save-button">
      <button type="submit" class="btn btn-primary">Save</button>
      <button type="button" class="btn btn-clear" (click)="clearForm()">
        Clear
      </button>
    </div>
  </form>
</div> -->

<div class="container mt-4">
  <h2><strong>Create Asset</strong></h2>
  <div
    *ngIf="notificationMessage"
    class="notification-box"
    [ngClass]="{
      'notification-success': creationSuccess,
      'notification-fail': !creationSuccess
    }"
  >
    <h2>{{ notificationMessage }}</h2>
  </div>
  <form [formGroup]="assetForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="AssetModel">Model Name<span class="req-class">*</span></label>
      <input id="AssetModel" formControlName="AssetModel" />
      <div
        *ngIf="
          assetForm.get('AssetModel')?.invalid &&
          (assetForm.get('AssetModel')?.dirty ||
            assetForm.get('AssetModel')?.touched)
        "
      >
        <small *ngIf="assetForm.get('AssetModel')?.errors?.['required']"
          >*Asset Model is required.</small
        >
        <small *ngIf="assetForm.get('AssetModel')?.errors?.['maxlength']"
          >*Asset Model cannot be more than 15 characters.</small
        >
      </div>
    </div>

    <div>
      <label for="SerialNumber">Serial Number<span class="req-class">*</span></label>
      <input id="SerialNumber" formControlName="SerialNumber" />
      <div
        *ngIf="
          assetForm.get('SerialNumber')?.invalid &&
          (assetForm.get('SerialNumber')?.dirty ||
            assetForm.get('SerialNumber')?.touched)
        "
      >
        <small *ngIf="assetForm.get('SerialNumber')?.errors?.['required']"
          >*Serial Number is required.</small
        >
        <small *ngIf="assetForm.get('SerialNumber')?.errors?.['maxlength']"
          >*Serial Number cannot be more than 15 characters.</small
        >
      </div>
    </div>

    <div>
      <label for="AssetType">Type<span class="req-class">*</span></label>
      <select id="AssetType" formControlName="AssetType">
        <option *ngFor="let type of assetTypes" [value]="type">
          {{ type }}
        </option>
      </select>
      <div
        *ngIf="
          assetForm.get('AssetType')?.invalid &&
          (assetForm.get('AssetType')?.dirty ||
            assetForm.get('AssetType')?.touched)
        "
      >
        <small *ngIf="assetForm.get('AssetType')?.errors?.['required']"
          >*Asset Type is required.</small
        >
      </div>
    </div>

    <div *ngIf="currentOperatingSystems.length > 0">
      <label for="OperatingSystem">Operating System<span class="req-class">*</span></label>
      <select id="OperatingSystem" formControlName="OperatingSystem">
        <option *ngFor="let os of currentOperatingSystems" [value]="os">
          {{ os }}
        </option>
      </select>
      <div
        *ngIf="
          assetForm.get('OperatingSystem')?.invalid &&
          (assetForm.get('OperatingSystem')?.dirty ||
            assetForm.get('OperatingSystem')?.touched)
        "
      >
        <small *ngIf="assetForm.get('OperatingSystem')?.errors?.['required']"
          >*Operating System is required.</small
        >
      </div>
    </div>

    <div *ngIf="currentOperatingSystems.length > 0">
      <label for="Memory">Memory<span class="req-class">*</span></label>
      <input id="Memory" formControlName="Memory" />
      <div
        *ngIf="
          assetForm.get('Memory')?.invalid &&
          (assetForm.get('Memory')?.dirty || assetForm.get('Memory')?.touched)
        "
      >
        <small *ngIf="assetForm.get('Memory')?.errors?.['required']"
          >*Memory is required.</small
        >
        <small *ngIf="assetForm.get('Memory')?.errors?.['maxlength']"
          >*Memory cannot be more than 15 characters.</small
        >
      </div>
    </div>

    <div *ngIf="currentOperatingSystems.length > 0">
      <label for="Processor">Processor<span class="req-class">*</span></label>
      <input id="Processor" formControlName="Processor" />
      <div
        *ngIf="
          assetForm.get('Processor')?.invalid &&
          (assetForm.get('Processor')?.dirty ||
            assetForm.get('Processor')?.touched)
        "
      >
        <small *ngIf="assetForm.get('Processor')?.errors?.['required']"
          >*Processor is required.</small
        >
        <small *ngIf="assetForm.get('Processor')?.errors?.['maxlength']"
          >*Processor cannot be more than 15 characters.</small
        >
      </div>
    </div>

    <div>
      <label for="WarrantyStart">Warranty Start<span class="req-class">*</span></label>
      <input id="WarrantyStart" formControlName="WarrantyStart" type="month" />
      <div
        *ngIf="
          assetForm.get('WarrantyStart')?.invalid &&
          (assetForm.get('WarrantyStart')?.dirty ||
            assetForm.get('WarrantyStart')?.touched)
        "
      >
        <small *ngIf="assetForm.get('WarrantyStart')?.errors?.['required']"
          >*Warranty Start is required.</small
        >
      </div>
    </div>
    
    <div>
      <label for="WarrantyExpire">Warranty Expire<span class="req-class">*</span></label>
      <input id="WarrantyExpire" formControlName="WarrantyExpire" type="month" />
      <div
        *ngIf="
          assetForm.get('WarrantyExpire')?.invalid &&
          (assetForm.get('WarrantyExpire')?.dirty ||
            assetForm.get('WarrantyExpire')?.touched)
        "
      >
        <small *ngIf="assetForm.get('WarrantyExpire')?.errors?.['required']"
          >*Warranty Expire is required.</small
        >
      </div>
    </div>

    <div>
      <label for="AssetPurchaseDate">Purchase Date</label>
      <input
        id="AssetPurchaseDate"
        formControlName="AssetPurchaseDate"
        type="date"
      />
    </div>

    <div>
      <label for="AssignTo">Assign To</label>
      <select id="AssignTo" formControlName="AssignTo">
        <option *ngFor="let at of assignToList" [value]="at.EmployeeCode">
          {{ at.View }}
        </option>
      </select>
    </div>

    <div>
      <label for="AssignDate">Assign Date</label>
      <input id="AssignDate" formControlName="AssignDate" type="date" />
    </div>

    <div>
      <label for="AssetCondition">Condition</label>
      <select id="AssetCondition" formControlName="AssetCondition">
        <option *ngFor="let condition of assetConditionList" [value]="condition">
          {{ condition }}
        </option>
      </select>
    </div>

    <div>
      <label for="Cost">Cost</label>
      <input id="Cost" formControlName="Cost" />
      <div
        *ngIf="
          assetForm.get('Cost')?.invalid &&
          (assetForm.get('Cost')?.dirty ||
            assetForm.get('Cost')?.touched)
        "
      >
        <small *ngIf="assetForm.get('Cost')?.errors?.['pattern']"
          >*Invalid format. Put only numbers. Ex:- 1000, 200.99</small
        >
      </div>
    </div>

    <div>
      <label for="Vendor">Vendor</label>
      <input id="Vendor" formControlName="Vendor" />
    </div>

    <div>
      <label for="Description">Description</label>
      <textarea id="Description" formControlName="Description"></textarea>
    </div>

    <div *ngIf="errorMessage" class="submit-error-message">
      {{ errorMessage }}
    </div>
    <div class="submit-save-button">
      <button type="submit" class="btn btn-primary">Save</button>
      <button type="button" class="btn btn-clear" (click)="clearForm()">
        Clear
      </button>
    </div>
  </form>
</div>
