<div class="container">
  <h2>Create Role</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="create-form">
      <div class="form-group">
        <mat-form-field appearance="fill" class="flex-fill mb-0">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" id="name" />
          <mat-error *ngIf="form.get('name')?.invalid"
            >Name is required</mat-error
          >
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field appearance="fill" class="flex-fill mb-0">
          <mat-label>Description</mat-label>
          <textarea
            matInput
            formControlName="description"
            id="description"
          ></textarea>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field appearance="fill" class="flex-fill mb-0">
          <mat-label>Permission</mat-label>
          <mat-select formControlName="permissions" multiple>
            <mat-option
              *ngFor="let permission of permissionDropdownList"
              [value]="permission"
              >{{ permission.Name }}</mat-option
            >
          </mat-select>
          <mat-error *ngIf="form.get('permissions')?.invalid">Permission is required</mat-error>
        </mat-form-field>
      </div>
      <ng-multiselect-dropdown
        [placeholder]="'Assign To'"
        [data]="permissionDropdownList"
        [settings]="dropdownSettings"
        formControlName="permissions"
      >
      </ng-multiselect-dropdown>
    </div>
    <div *ngIf="errorMessage" class="submit-error-message">
      {{ errorMessage }}
    </div>
    <div class="d-flex">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </form>
</div>
