<div class="personal-container">
    <app-employee-navbar></app-employee-navbar>
    <div class="accordion" #accordion>
        <form [formGroup]="updateForm">
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <div class="accordion-butto">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 (click)="toggleAccordion('panelsStayOpen-collapseOne')">SkillSet</h3>
                            </div>
                            <div class="col-auto">
                                <button class="edit-button" (click)="toggleEdit(1)">
                                    <i class="fa fa-edit fa-lg"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                    aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-body">
                        <div class="row">
                            <div class="col p-3">
                                <div><small><span style="color: gray;">Primary Skill Set</span></small></div>
                                <div class="values" *ngIf="!editMode[1]">{{employeeInfo?.SkillSet.PrimarySkillset}}</div>
                                <div formGroupName="SkillSet">
                                    <!-- <textarea class="form-control" formControlName="PrimarySkillset" *ngIf="editMode[1]" id="exampleFormControlTextarea1" rows="3"></textarea> -->
                                    <ng-select *ngIf="editMode[1]" [multiple]="true" formControlName="PrimarySkillset" [closeOnSelect]="false">
                                        <ng-option *ngFor="let skill of getSelectedPrimarySkills()" [value]="skill">{{skill}}</ng-option>
                                        <ng-option *ngFor="let s of getRemainingPrimarySkills()" [value]="s">{{s}}</ng-option>
                                    </ng-select>
                                    <p class="error" *ngIf="this.updateForm.get('SkillSet.PrimarySkillset')?.touched && this.updateForm.get('SkillSet.PrimarySkillset')?.errors?.['required']">Primary skill set is required</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">    
                            <div class="col p-3">
                                <div><small><span style="color: gray;">Secondary Skill Set</span></small></div>
                                <div class="values" *ngIf="!editMode[1]">{{employeeInfo?.SkillSet.SecondarySkillset}}</div>
                                <div formGroupName="SkillSet">
                                    <!-- <textarea class="form-control" formControlName="SecondarySkillset" *ngIf="editMode[1]" id="exampleFormControlTextarea1" rows="3"></textarea> -->
                                    <ng-select *ngIf="editMode[1]" [multiple]="true" formControlName="SecondarySkillset" [closeOnSelect]="false">
                                        <ng-option *ngFor="let skill of getSelectedSecondarySkills()" [value]="skill">{{skill}}</ng-option>
                                        <ng-option *ngFor="let s of getRemainingSecondarySkills()" [value]="s">{{s}}</ng-option>
                                    </ng-select>
                                    <p class="error" *ngIf="this.updateForm.get('SkillSet.SecondarySkillset')?.touched && this.updateForm.get('SkillSet.SecondarySkillset')?.errors?.['required']">Secondary skill set is required</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col p-3">
                                <div><small><span style="color: gray;">Skill Level</span></small></div>
                                <div class="values" *ngIf="!editMode[1]">{{employeeInfo?.SkillSet.SkillLevel}}</div>
                                <div formGroupName="SkillSet">
                                    <input class="form-control" *ngIf="editMode[1]" formControlName="SkillLevel">
                                    <p class="error" *ngIf="this.updateForm.get('SkillSet.SkillLevel')?.touched && this.updateForm.get('SkillSet.SkillLevel')?.errors?.['required']">Skill level is required</p>
                                </div>
                            </div>
                            <div class="col p-3">
                                <div><small><span style="color: gray;">Experience</span></small></div>
                                <div class="values" *ngIf="!editMode[1]">{{employeeInfo?.SkillSet.Experience}}</div>
                                <div formGroupName="SkillSet">
                                    <input class="form-control" *ngIf="editMode[1]" formControlName="Experience">
                                    <p class="error" *ngIf="this.updateForm.get('SkillSet.Experience')?.touched && this.updateForm.get('SkillSet.Experience')?.errors?.['required']">Experience is required</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="editMode[1]">
                        <div class="col text-center mb-4">
                            <button class="btn btn-primary" (click)="updateEmployee()" [disabled]="updateForm.invalid">Update</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>