main{
    display: flex;
}

app-side-navbar, app-admin-sidebar{
    margin-right: 5px;
    left: 0rem;
    width: 18vw;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.5);
    background-color: #00c3ff;
}

.main-page{
    flex-grow: 1;
}